:root{
  --width:400px;
  --display-line-height: 1.3rem;
  --input-color:#F3F1ED;
  --formula-color:#E29B8C;
  --text-color:#E4DDCC;
  --button-color:#47474A;
  --special-button-color:#C1685D;
}

#calculator {
  text-align: center;
}

#display{
  width:var(--width);
  background-color: var(--button-color);
  text-align: right;
  padding: 0.5rem 0;
  line-height: var(--display-line-height);
  overflow-wrap: break-word;
}

#display-formula{
  color:var(--formula-color);
  min-height: var(--display-line-height);
  margin: 0 0.6rem;
}

#display-input{
  color:var(--input-color);
  font-size:1.3rem;
  min-height: var(--display-line-height);
  margin: 0 0.6rem;
}

#buttons {
  width: var(--width);
  height:380px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 
        "clear clear divide multiply"
        "seven eight nine subtract"
        "four five six add"
        "one two three equals"
        "zero zero decimal equals";
}

button{
  background-color:var(--button-color);
  color:var(--text-color);
  font-size: 1.1rem;
  border: 0;
}

#clear{
  grid-area: clear;
  background-color: var(--special-button-color);
}

#equals{
  grid-area: equals;
  background-color: var(--special-button-color);
}

#add{
  grid-area: add;
}

#subtract{
  grid-area: subtract;
}

#multiply{
  grid-area:multiply;
}

#divide{
  grid-area:divide;
}

#one{
  grid-area:one;
}

#two{
  grid-area:two;
}

#three{
  grid-area:three;
}

#four{
  grid-area:four;
}

#five{
  grid-area:five;
}

#six{
  grid-area:six;
}

#seven{
  grid-area: seven;
}

#eight{
  grid-area: eight;
}

#nine{
  grid-area: nine;
}

#zero{
  grid-area: zero;
}

#decimal{
  grid-area: decimal;
}
